// Colors ///////////
$color-white: #fff; // Pure white
$color-black: #000; // Pure black

// Main ///////////
$color-red700: #D32F2F;
$color-red200: #EF9A9A;
$color-red400: #EF5350;
$color-red900: #B71C1C;

// Extra ///////////
$color-purple400: #AB47BC;
$color-teal700: #00796B;
$color-amber500: #FFC107;
$color-orange600: #FB8C00;


